In [46]:
import pandas as pd

In [41]:
Rental_DF = pd.DataFrame(pd.read_csv("Toronto_apartment_rentals_2018.csv"))

In [42]:
Rental_DF

,Bedroom,Bathroom,Den,Address,Lat,Long,Price
0,2,2.0,0,"3985 Grand Park Drive, 3985 Grand Park Dr, Mis...",43.581639,-79.648193,"$2,450.00"
1,1,1.0,1,"361 Front St W, Toronto, ON M5V 3R5, Canada",43.643051,-79.391643,"$2,150.00"
2,1,1.0,0,"89 McGill Street, Toronto, ON, M5B 0B1",43.660605,-79.378635,"$1,950.00"
3,2,2.0,0,"10 York Street, Toronto, ON, M5J 0E1",43.641087,-79.381405,"$2,900.00"
4,1,1.0,0,"80 St Patrick St, Toronto, ON M5T 2X6, Canada",43.652487,-79.389622,"$1,800.00"
...,...,...,...,...,...,...,...
1119,3,1.0,0,", L7S 1R7, Burlington, ON",43.325233,-79.802182,"$3,000.00"
1120,1,1.0,0,", oakville L6M3V5 ON, Canada",43.445426,-79.736833,"$1,200.00"
1121,1,1.0,0,"Upper Beaches, Toronto, ON, Canada, M4C 1B4",43.683386,-79.309409,"$1,800.00"
1122,2,1.0,0,", Toronto M5B 2L7 ON, Canada",43.653636,-79.380873,"$2,200.00"
1123,1,1.0,0,"561 Sherbourne St, Toronto, ON M4X 0A1, Canada",43.669931,-79.375463,"$2,150.00"

In [45]:
Crime_DF = pd.DataFrame(pd.read_csv("MCI_2014_to_2018.csv"))

Crime_DF

,X,Y,Index_,event_unique_id,occurrencedate,reporteddate,premisetype,ucr_code,ucr_ext,offence,...,occurrencedayofyear,occurrencedayofweek,occurrencehour,MCI,Division,Hood_ID,Neighbourhood,Lat,Long,ObjectId
0,-79.385193,43.659229,2349,GO-20149004286,2014-06-20T10:55:00.000Z,2014-06-20T13:20:00.000Z,Apartment,2130,210,Theft Over,...,171.0,Friday,10,Theft Over,D52,76,Bay Street Corridor (76),43.659229,-79.385193,2001
1,-79.425400,43.777592,2350,GO-20142411379,2014-07-02T00:20:00.000Z,2014-07-02T02:58:00.000Z,Outside,1457,100,Pointing A Firearm,...,183.0,Wednesday,0,Assault,D32,36,Newtonbrook West (36),43.777592,-79.425400,2002
2,-79.425400,43.777592,2351,GO-20142411379,2014-07-02T00:20:00.000Z,2014-07-02T02:58:00.000Z,Outside,1610,100,Robbery With Weapon,...,183.0,Wednesday,0,Robbery,D32,36,Newtonbrook West (36),43.777592,-79.425400,2003
3,-79.210373,43.801727,2352,GO-20142412127,2014-07-02T01:30:00.000Z,2014-07-02T05:40:00.000Z,House,2120,200,B&E,...,183.0,Wednesday,1,Break and Enter,D42,132,Malvern (132),43.801727,-79.210373,2004
4,-79.254334,43.835884,2354,GO-20142417548,2014-07-02T20:52:00.000Z,2014-07-02T20:57:00.000Z,Commercial,1430,100,Assault,...,183.0,Wednesday,20,Assault,D42,130,Milliken (130),43.835884,-79.254334,2005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167520,-79.304466,43.718910,179392,GO-2018885860,2018-05-16T20:30:00.000Z,2018-05-16T21:57:00.000Z,Outside,2135,210,Theft Of Motor Vehicle,...,136.0,Wednesday,20,Auto Theft,D54,43,Victoria Village (43),43.718910,-79.304466,166996
167521,-79.297562,43.684856,179393,GO-2018939395,2018-05-24T18:00:00.000Z,2018-05-25T02:58:00.000Z,Outside,2135,210,Theft Of Motor Vehicle,...,144.0,Thursday,18,Auto Theft,D55,62,East End-Danforth (62),43.684856,-79.297562,166997
167522,-79.274391,43.685402,179394,GO-2018940481,2018-05-24T19:00:00.000Z,2018-05-25T08:59:00.000Z,Outside,2135,210,Theft Of Motor Vehicle,...,144.0,Thursday,19,Auto Theft,D41,122,Birchcliffe-Cliffside (122),43.685402,-79.274391,166998
167523,-79.595566,43.686760,179395,GO-2018940756,2018-05-24T17:00:00.000Z,2018-05-25T11:05:00.000Z,Outside,2135,210,Theft Of Motor Vehicle,...,144.0,Thursday,17,Auto Theft,D23,1,West Humber-Clairville (1),43.686760,-79.595566,166999
167524,-79.481178,43.775364,179396,GO-2018928823,2018-05-22T09:00:00.000Z,2018-05-23T14:48:00.000Z,Other,2135,210,Theft Of Motor Vehicle,...,142.0,Tuesday,9,Auto Theft,D32,27,York University Heights (27),43.775364,-79.481178,167000