In [48]:
import gmaps
import pandas as pd

In [49]:
#google developer api key
from config import gkey

#configure gmaps
gmaps.configure(api_key = gkey)

In [50]:
#convert csv data into dataframe
Crime_DF = pd.DataFrame(pd.read_csv("MCI_2014_to_2018.csv"))

Crime_DF.head()

,X,Y,Index_,event_unique_id,occurrencedate,reporteddate,premisetype,ucr_code,ucr_ext,offence,...,occurrencedayofyear,occurrencedayofweek,occurrencehour,MCI,Division,Hood_ID,Neighbourhood,Lat,Long,ObjectId
0,-79.385193,43.659229,2349,GO-20149004286,2014-06-20T10:55:00.000Z,2014-06-20T13:20:00.000Z,Apartment,2130,210,Theft Over,...,171.0,Friday,10,Theft Over,D52,76,Bay Street Corridor (76),43.659229,-79.385193,2001
1,-79.425400,43.777592,2350,GO-20142411379,2014-07-02T00:20:00.000Z,2014-07-02T02:58:00.000Z,Outside,1457,100,Pointing A Firearm,...,183.0,Wednesday,0,Assault,D32,36,Newtonbrook West (36),43.777592,-79.425400,2002
2,-79.425400,43.777592,2351,GO-20142411379,2014-07-02T00:20:00.000Z,2014-07-02T02:58:00.000Z,Outside,1610,100,Robbery With Weapon,...,183.0,Wednesday,0,Robbery,D32,36,Newtonbrook West (36),43.777592,-79.425400,2003
3,-79.210373,43.801727,2352,GO-20142412127,2014-07-02T01:30:00.000Z,2014-07-02T05:40:00.000Z,House,2120,200,B&E,...,183.0,Wednesday,1,Break and Enter,D42,132,Malvern (132),43.801727,-79.210373,2004
4,-79.254334,43.835884,2354,GO-20142417548,2014-07-02T20:52:00.000Z,2014-07-02T20:57:00.000Z,Commercial,1430,100,Assault,...,183.0,Wednesday,20,Assault,D42,130,Milliken (130),43.835884,-79.254334,2005

In [51]:
#extract lat into dataframe
a = Crime_DF["Lat"]
a0 = pd.DataFrame(a)
a0.head()

         Lat
0  43.659229
1  43.777592
2  43.777592
3  43.801727
4  43.835884

In [52]:
#extract longitude into dataframe
b = Crime_DF["Long"]
b0 = pd.DataFrame(b)
b0.head()

        Long
0 -79.385193
1 -79.425400
2 -79.425400
3 -79.210373
4 -79.254334

In [53]:
#merge lat and longitude
result = pd.merge(a0, b0, right_index=True, left_index=True)
result.head()

         Lat       Long
0  43.659229 -79.385193
1  43.777592 -79.425400
2  43.777592 -79.425400
3  43.801727 -79.210373
4  43.835884 -79.254334

In [54]:
#extract hood_id 
c = Crime_DF["Hood_ID"]
c.head()

0     76
1     36
2     36
3    132
4    130
Name: Hood_ID, dtype: int64

In [55]:
c0 = pd.DataFrame(c)
c0.head()

   Hood_ID
0       76
1       36
2       36
3      132
4      130

In [56]:
coordinate = pd.merge(result, c0, right_index=True, left_index=True)
coordinate.head()

         Lat       Long  Hood_ID
0  43.659229 -79.385193       76
1  43.777592 -79.425400       36
2  43.777592 -79.425400       36
3  43.801727 -79.210373      132
4  43.835884 -79.254334      130

In [57]:
# Crime Analysis by Majior Crime Indicator
#Crime_Analysis = Crime_DF.groupby(['Hood_ID'])
#Count_Offence=Crime_Analysis["event_unique_id"].count()
#Offence_data=pd.DataFrame({"Total Count of Offence":Count_Offence})
#Offence_data



#HOW MANY OFFENCES HAPPENED IN A NEIGHBOURHOOD/HOOD_ID
#convert hood_id into longitude ,lag

In [76]:


# => dataframe with 'longitude' and 'latitude' columns
#We already know how to build a heatmap layer:
#set geological center point

Toronto = (43.651070, -79.347015)

m = c0["Hood_ID"].astype(float)

fig = gmaps.figure(center = Toronto, zoom_level = 12)
heatmap_layer = gmaps.heatmap_layer(result,
                                   weights = m)
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [46]:

# Store latitude and longitude in locations
#locations = result
#Count of event_unique_id by Hood_id/neighbourhood, weights=count of offence/hood_id

#m = c0.astype(float)

#toronto = (43.651070, -79.347015)

#plot gmap figure
#fig = gmaps.figure(center=toronto, zoom_level=12)
# Create heat layer
#heat_layer = gmaps.heatmap_layer(locations, weights= m , 
                                 #dissipating=False, max_intensity=10,
                                 #point_radius=1)
# Add layer
#fig.add_layer(heat_layer)

# Display figure
#fig

TraitError: Hood_ID is not a valid weight. Weights must be floats

In [29]:
#plot gmap figure
#fig = gmaps.figure()

# Create heat layer
#heat_layer = gmaps.heatmap_layer(locations,  
                                # dissipating=False, max_intensity=10,
                                # point_radius=1)


# Add layer
#fig.add_layer(heat_layer)

# Display figure
#fig

IndentationError: unexpected indent (<ipython-input-29-8a61e80c6a58>, line 6)

In [13]:
#figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'}
#fig = gmaps.figure(layout=figure_layout)

IndentationError: unexpected indent (<ipython-input-13-5230fec2419d>, line 2)